<h1>Enter two texts</h1>

<p><%= @corpus.keys %></p>

<form>
First book:<br>
<input type="text" name="firstbook" value="Ulysses">
<br>
Second book:<br>
<input type="text" name="secondbook" value="The Bible">
<br><br>
<input type="submit" value="Submit">
</form>

<p><%= @displaytext %></p>

<!-- <form method="get" action="/combine_texts">
Does <input type="text" name="text1"> follow <input type="text" name="text2">? <input type="submit" value="Go">
</form> -->
